<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <!-- Main page -->
  <url>
    <loc>{{SITE_URL}}/</loc>
    <lastmod>2025-01-13</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    <image:image>
      <image:loc>{{SITE_URL}}/og-image.png</image:loc>
      <image:title>LocaliserBien - Localisateur de biens immobiliers</image:title>
      <image:caption>Service gratuit de localisation de biens immobiliers en France</image:caption>
    </image:image>
  </url>
  
  <!-- Informations page -->
  <url>
    <loc>{{SITE_URL}}/informations</loc>
    <lastmod>2025-01-13</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Legal mentions -->
  <url>
    <loc>{{SITE_URL}}/mentions-legales</loc>
    <lastmod>2025-01-13</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
</urlset>